{% extends "base.html" %}

{% block template %}
<div class="page main">
{% endblock %}

{% block header %}
    {{ Parts.Header() }}
{% endblock %}

{% block content %}
<section>
    <div class="swiper-container slider-main" id="slider">
        <div class="swiper-wrapper">
            <div class="swiper-slide slide-1">
                <div class="overlay"></div>
                <div class="text">
                    <h2>Лабораторная мебель</h2>
                    <a href="#">Узнать больше<span class="icon icon-right"></span></a>
                </div>
            </div>
            <div class="swiper-slide slide-2">
                <div class="overlay"></div>
                <div class="text">
                    <h2>Медицинская мебель</h2>
                    <a href="#">Узнать больше<span class="icon icon-right"></span></a>
                </div>
            </div>
            <div class="swiper-slide slide-3">
                <div class="overlay"></div>
                <div class="text">
                    <h2>Вытяжные шкафы</h2>
                    <a href="#">Узнать больше<span class="icon icon-right"></span></a>
                </div>
            </div>
        </div>
        <div class="swiper-pagination"></div>
    </div>
</section>
<section class="page-section double-section">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <h3>Лабораторная мебель серии ПГЛ<br />из пластика на металлокаркасе</h3>
                <p>Линейка мебели ПГЛ - одна из самых успешных и проверенных у нашей компании. Это самая надёжная и самая долговечная мебель для любых условий эксплуатации.  Конструктивно состоит из алюминиевого, глубоко анодированного каркаса и панелей из высокопрочного HPL -пластика</p>
                <p>Мебель ПГЛ уже больше десяти лет успешно эксплуатируется в химических и биологических лабораториях, на производстве, в медицинских учреждениях,  школах  - везде, где требуется надёжность, долговечность и устойчивость к агрессивным средам.</p>
                <p>Серия мебели  ПГЛ обладает повышенной устойчивостью к химическому воздействию  кислот, щелочей, растворителей и т.д.</p>
                <p>На эту линейку мебели получено регистрационное удостоверение Минздравсоцразвития, "медицинская мебель, вид медицинского изделия 156900".</p>
            </div>
            <div class="col-xs-12 col-sm-6">
                <h3>Лабораторная мебель серии ПГЛ-М<br />из ЛДСП (меламина)</h3>
                <p>Линейка мебели ПГЛ-М  - это отличный компромисс между качеством и ценой.</p>
                <p>В тех случаях, когда мебель эксплуатируется в обычных условиях - без воздействия агрессивных сред и повышенных нагрузок, использование ЛДСП в конструкции вполне допустимо и позволяет создавать вполне конкурентноспособные  по стоимости решения.</p>
                <p>Область применения мебели ПГЛ-М : мебель для нестерильных помещений в медицинских учреждениях, мебель для персонала, мебель для установки оборудования с небольшим весом.</p>
                <p>Современные технологии позволяют изготавливать из ЛДСП любые по конфигурации изделия быстро и недорого. Возможности применения мебели ПГЛ-М могут быть также значительно расширены при использовании специализированных столешниц из материала "Лабростоун"</p>
                <p>На эту линейку мебели получено регистрационное удостоверение Минздравсоцразвития, "медицинская мебель, вид медицинского изделия 156900".</p>
            </div>
        </div>
    </div>
</section>
<section class="page-section gray-section category-section">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-4">
                {{ Parts.CategoryCard(1, "Лабораторная мебель") }}
            </div>
            <div class="col-xs-12 col-sm-4">
                {{ Parts.CategoryCard(2, "Медицинская мебель") }}
            </div>
            <div class="col-xs-12 col-sm-4">
                {{ Parts.CategoryCard(3, "Вытяжные шкафы") }}
            </div>
        </div>
    </div>
</section>
<section class="page-section double-section">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <h3>Металлическая лабораторная мебель</h3>
                <p>Металлическая мебель используется в лабораториях медицинских учреждениях издавна, и заслуженно пользуется популярностью.</p>
                <p>Она, однако, очень тяжёлая и выглядит не так эстетично, как более современные комбинированные решения.  Также эта мебель  достаточно дорога в сравнении с конкурентами.</p>
                <p>Поэтому сейчас металлическая мебель (как правило с порошковой окраской)  является нишевым решением для тех помещений, где использование именно такой мебели обусловлено требованиями сан.эпид.режима или других нормативов.</p>
                <p>Наша компания в зависимости от потребностей клиента может поставить как металлическую мебель собственного производства, так и предложить продукцию  наших партнёров</p>
            </div>
            <div class="col-xs-12 col-sm-6">
                <h3>Комбинированная мебель марки ПГЛ</h3>
                <p>Для достижения наилучшего результата, в специализированной мебели производства группы "Лаборант" могут использоваться следующие комбинации материалов:</p>
                <ul class="list-style">
                    <li>несущий каркас из анодированного алюминия - обеспечивает необходимую химическую и механическую устойчивость при небольшом весе.</li>
                    <li>химически стойкий пластик - в качестве столешниц, полок, дверей, фасадов и прочих составляющих.</li>
                </ul>
                <p><strong>Внимание! Кроме производства лабораторной мебели ПГ "Лаборант" осуществляет поставку различного медицинского и лабораторного оборудования.</strong></p>
            </div>
        </div>
    </div>
</section>
{% endblock %}